body {
    height: 550px; /* Height of extension pop-out */
    width: 400px; /* Width of extension pop-out */
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas { /* Canvas */
    width: 400px;
    height: 400px;
    position: fixed;
    align-items: center;
    bottom: 0;
}
#colors { /* Color palette */
    width: 400px;
    height: 100px;
    position: fixed;
    top: 0;
}
#tools { /* Tool selection */
    width: 400px;
    height: 50px;
    position: fixed;
    top: 100px;
    border: 2px;
    border-color: white;
    border-style: solid;
    z-index: 9999;
}
#pen, #eraser, #paintBucket, #eyeDropper, #undoRedo, #clear, #save {
    display: none; /* Hide images used for the tools */
}
